<launch>

    <!-- These are the arguments you need to care about -->
    <arg name="config" default="sam_biograd_no_payload_sensors.yaml"/>
    <arg name="config_file" default="$(find sam_stonefish_sim)/config/$(arg config)"/>
    <arg name="scenario_description" default="$(find sam_stonefish_sim)/data/scenarios/default.scn"/>

    <!-- UTM Zone for Biograd simulation -->
    <arg name="utm_zone" default="33"/>
    <arg name="utm_band" default="T"/>

    <!-- These are more for fine-tuning -->
    <arg name="simulation_data" default="$(find smarc_stonefish_worlds)/data"/> <!-- path to the data directory -->
    <arg name="simulation_rate" default="300"/> <!-- number of simulation steps per second -->
    <arg name="graphics_resolution" default="1200 800"/> <!-- resolution of the simulation window -->
    <arg name="graphics_quality" default="medium"/> <!-- low, medium or high -->
    <arg name="shader_path" default="$(find stonefish_ros)/external/stonefish/Library/shaders"/>

    <param name="utm_zone" type="int" value="$(arg utm_zone)"/>
    <param name="utm_band" type="string" value="$(arg utm_band)"/> 

    <!-- Static transform -->
    <node name="map2ned" pkg="tf" type="static_transform_publisher" args="0 0 0 1.571 0 3.1416 map world_ned 100" />
    <!--
    <node name="utm2map" pkg="tf" type="static_transform_publisher" args="535529 4864397 0 0 0 0 1 utm map 100" />
    -->
    <node name="utm2map" type="sim_utm_offset_publisher" pkg="smarc_stonefish_worlds" output="screen">
        <rosparam file="$(arg config_file)" subst_value="true"/>
    </node>

    <!-- Run Simulator -->
    <node name="stonefish_simulator" pkg="stonefish_ros" type="parsed_simulator" output="screen" args="$(arg simulation_data) $(arg scenario_description) $(arg simulation_rate) $(arg graphics_resolution) $(arg graphics_quality) $(arg shader_path)">
        <rosparam file="$(arg config_file)" subst_value="true"/>
    </node>

</launch>
