<launch>

    <arg name="robot_name" default="sam"/>

    <group ns="$(arg robot_name)">
        <group ns="ctrl">

            <node name="pid_tf_listener" pkg="sam_loop_test" type="pid_tf_listener" output="screen" >
                <param name="odom_frame" value="/world"/>
                <param name="base_frame" value="$(arg robot_name)/base_link"/>
                <param name="world_frame" value="/world"/>
                <remap from="depth_feedback" to="depth_fb"/>
                <remap from="pitch_feedback" to="pitch_fb"/>
            </node>

            <node name="pid_actuator" pkg="sam_loop_test" type="pid_actuator" ns="lcg" >
              <param name="topic_from_controller" value="control_action" />
              <param name="topic_to_actuator" value="actuator_input" />
              <param name="limit_between_setpoints" value="1" />
              <param name="loop_freq" value="50" />
              <remap from="actuator_input" to="/$(arg robot_name)/core/lcg_cmd"/>
            </node>

            <node name="pid_actuator" pkg="sam_loop_test" type="pid_actuator" ns="vbs" >
              <param name="topic_from_controller" value="control_action" />
              <param name="topic_to_actuator" value="actuator_input" />
              <param name="limit_between_setpoints" value="1" />
              <param name="loop_freq" value="5" />
              <remap from="actuator_input" to="/$(arg robot_name)/core/vbs_cmd"/>
            </node>

            <node name="controller" pkg="pid" type="controller" ns="lcg" output="screen" >
              <param name="Kp" value="50.0" />
              <param name="Ki" value="1" />
              <param name="Kd" value="1" />
              <param name="upper_limit" value="50.0" />
              <param name="lower_limit" value="-50.0" />
              <param name="windup_limit" value="100" />
              <param name="max_loop_frequency" value="100.0" />
              <param name="min_loop_frequency" value="100.0" />
              <!--CHANGE LAUNCH FILE TO CHOOSE SUBSCRIBER AND PUBLISHER TOPICS!! /-->
              <param name="topic_from_plant" value="/$(arg robot_name)/ctrl/pitch_fb" />
              <param name="topic_from_controller" value="control_action" />
              <!-- <remap from="setpoint" to="/pitch_setpoint" /> -->
              <!--remap from="/plant_state_pitch" to="state" />
              <remap from="control_effort" to="/control_effort" /-->
             </node>

            <node name="controller" pkg="pid" type="controller" ns="vbs" output="screen" >
              <param name="Kp" value="50.0" />
              <param name="Ki" value="0.8" />
              <param name="Kd" value="0.4" />
              <param name="upper_limit" value="50.0" />
              <param name="lower_limit" value="-50.0" />
              <param name="windup_limit" value="100" />
              <param name="max_loop_frequency" value="100.0" />
              <param name="min_loop_frequency" value="100.0" />
              <!--CHANGE LAUNCH FILE TO CHOOSE SUBSCRIBER AND PUBLISHER TOPICS!! /-->
              <param name="topic_from_plant" value="/$(arg robot_name)/ctrl/depth_fb" />
              <param name="topic_from_controller" value="control_action" />
              <!-- <remap from="setpoint" to="/depth_setpoint" /> -->
              <!--remap from="/plant_state_pitch" to="state" />
              <remap from="control_effort" to="/control_effort" /-->
             </node>
        </group>
    </group>

</launch>
