<launch>

    <arg name="robot_name" default="sam"/>
    <arg name="xacro_file" default="$(find sam_description)/urdf/sam_auv.urdf.xacro"/>
    <arg name="with_teleop" default="true"/>
    <arg name="simulate_dr" default="true"/>

    <group ns="$(arg robot_name)">

        <!-- Necessary for GT odom from simulator -->
        <node name="map_2_ned" pkg="tf" type="static_transform_publisher" args="0 0 0 1.57 0 3.14 map world_ned 100" />

        <!-- Robot description -->
        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(arg xacro_file)' debug:=true robot_namespace:=$(arg robot_name)"/>

        <!-- Robot state publisher -->
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <!-- <remap from="robot_description" to="$(arg robot_name)/robot_description"/> -->
        </node>

        <!-- The joint state publisher is useful if you just want to move the actuators around -->
        <!--
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen">
          <remap from="joint_states" to="$(arg robot_name)/desired_joint_states"/>
          <remap from="$(arg robot_name)/joint_states" to="$(arg robot_name)/dummy_joint_states"/>
          <remap from="robot_description" to="$(arg robot_name)/robot_description"/>
          <param name="use_gui" value="true"/>
          <param name="publish_default_positions" value="false"/>
        </node>
        -->

        <node name="teleop" type="sam_teleop.py" pkg="sam_stonefish_sim" output="screen" if="$(arg with_teleop)"/> 
    
        <include file="$(find sam_stonefish_sim)/launch/vbs_controller.launch">
              <arg name="robot_name" value="$(arg robot_name)"/>
        </include>

        <node name="msg_bridge" type="sam_sim_msg_bridge.py" pkg="sam_stonefish_sim" output="screen">
            <param name="robot_name" value="$(arg robot_name)"/>
        </node>

        <node name="odom_republish" type="relay" pkg="topic_tools" args="dynamics/odometry dr/odom" output="screen" if="$(arg simulate_dr)"/>
  
        <!-- This could be added eventually but we'd need to put it in a public package, like sam_common -->
        <!-- <node pkg="sam_drivers" type="sam_startup_check.py" name="startup_check" output="screen"/> -->

    </group>

</launch>
