<launch>

	<arg name="graphics_resolution" default="1500 950"/>
	<arg name="graphics_quality" default="high"/>
    <arg name="simulation_rate" default="100.0"/>
    <arg name="hd_model" default="true"/>
    <arg name="robot_file" default="$(find sam_stonefish_sim)/data/sam_auv/sam_auv.xml" unless="$(arg hd_model)"/>
    <arg name="robot_file" default="$(find sam_stonefish_sim)/data/sam_auv/sam_auv_hd.xml" if="$(arg hd_model)"/>


	<arg name="scenario_description" default="$(find sam_stonefish_sim)/data/scenarios/default.scn" />
	<!-- <arg name="environment_file" default="$(find sam_stonefish_sim)/data/biograd_world/biograd_env.scn"/> -->
    <arg name="environment_file" default="$(find sam_stonefish_sim)/data/asko_world/asko_env.scn"/>
    <arg name="simulation_data" default="$(find sam_stonefish_sim)/data"/> <!-- path to the data directory -->
    <arg name="robot_name" default="sam"/>
    <arg name="xacro_file" default="$(find sam_description)/urdf/sam_auv.urdf.xacro"/>
    <!-- <arg name="latitude" default="43.93183"/> -->
    <!-- <arg name="longitude" default="15.44264"/> -->
    <!-- <arg name="robot_pos" default="0.0 0.0 1.0"/> -->
    <arg name="latitude" default="58.811480"/>
    <arg name="longitude" default="17.596177"/>
    <arg name="robot_pos" default="1134.0 4006.0 1.0"/>
    <arg name="simulate_dr" default="true"/>

    <!-- Static transform -->
    <node pkg="tf" type="static_transform_publisher" name="world_local_broadcaster" args="0 0 0 0 0 0 1 world_local world 100" />
    <node pkg="tf" type="static_transform_publisher" name="world2ned" args="0 0 0 1.571 0 3.1416 world world_ned 100"/>
    <node pkg="tf" type="static_transform_publisher" name="world_utm_broadcaster" args="649947.082 6521967.432 0 0 0 0 1 world_utm world_local 100" />

    <!-- Run Simulator -->
    <include file="$(find sam_stonefish_sim)/launch/simulator.launch">
        <arg name="simulation_data" value="$(arg simulation_data)"/>
        <arg name="scenario_description" value="$(arg scenario_description)"/>
        <arg name="environment_file" value="$(arg environment_file)"/>
        <arg name="robot_file" value="$(arg robot_file)"/>
        <arg name="simulation_rate" value="$(arg simulation_rate)"/>
        <arg name="graphics_resolution" value="$(arg graphics_resolution)"/>
        <arg name="graphics_quality" value="$(arg graphics_quality)"/>
        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="latitude" value="$(arg latitude)"/>
        <arg name="longitude" value="$(arg longitude)"/>
        <arg name="robot_pos" value="$(arg robot_pos)"/>
        <arg name="simulate_dr" value="$(arg simulate_dr)"/>
    </include>

</launch>
