<launch>

    <!-- These are the arguments you need to care about -->
    <arg name="config" default="sam_biograd.yaml"/>
    <arg name="config_file" default="$(find sam_stonefish_sim)/config/$(arg config)"/>
    <arg name="scenario_description" default="$(find sam_stonefish_sim)/data/scenarios/default.scn"/>

    <!-- These are more for fine-tuning -->
	<arg name="graphics_resolution" default="1500 950"/>
	<arg name="graphics_quality" default="high"/>
    <arg name="simulation_rate" default="100.0"/>
    <arg name="simulation_data" default="$(find sam_stonefish_sim)/data"/> <!-- path to the data directory -->

    <!-- Static transform -->
    <node name="map2ned" pkg="tf" type="static_transform_publisher" args="0 0 0 1.571 0 3.1416 map world_ned 100" />
    <node name="utm2map" pkg="tf" type="static_transform_publisher" args="535529 4864397 0 0 0 0 1 utm map 100" />
    <!--
    <node pkg="tf" type="static_transform_publisher" name="world_local_broadcaster" args="0 0 0 0 0 0 1 world_local world 100" />
    <node pkg="tf" type="static_transform_publisher" name="world2ned" args="0 0 0 1.571 0 3.1416 world world_ned 100"/>
    <node pkg="tf" type="static_transform_publisher" name="world_utm_broadcaster" args="535529 4864397 0 0 0 0 1 world_utm world_local 100" />
    -->

    <!-- Run Simulator -->
    <include file="$(find sam_stonefish_sim)/launch/simulator.launch">
        <arg name="config_file" value="$(arg config_file)"/>
        <arg name="scenario_description" value="$(arg scenario_description)"/>
        <arg name="simulation_rate" value="$(arg simulation_rate)"/>
        <arg name="graphics_resolution" value="$(arg graphics_resolution)"/>
        <arg name="graphics_quality" value="$(arg graphics_quality)"/>
    </include>

</launch>
