<launch>

    <!-- Configurable arguments -->
    <arg name="robot_name" default="sam"/>

	<!-- BT Related -->
	<!-- Croatia, biograd coast, lat lon zone band, all four from there -->
    <arg name="utm_zone" default="33"/>
    <arg name="utm_band" default="T"/>
	<!-- These should be calculated by the BT from _A_ gps fix, either real or sim. Right now there is no GPS in sim, so we give this manually, i dont like it -->


	<!-- 
	Launches bt, imc bridge and yaw_planner, consolidated because these
	are identical for both sim and real sam and this package is not on the real sam.
	Left this launch file here for possible sim-only configurations.
	-->
	<include file="$(find sam_mission)/launch/mission.launch" pass_all_args="true"/>



    
</launch>
