<launch>

    <arg name="simulation_data" default="$(find sam_stonefish_sim)/data"/> <!-- path to the data directory -->
    <arg name="scenario_description" default="$(find sam_stonefish_sim)/data/scenarios/sam_biograd.scn"/>
    <arg name="robot_name" default="sam"/>
    <arg name="xacro_file" default="$(find sam_stonefish_sim)/data/urdf/sam_auv.urdf.xacro"/>
    <arg name="with_teleop" default="true"/>

    <!-- Run Simulator -->
    <include file="$(find sam_stonefish_sim)/launch/simulator.launch">
    	<arg name="simulation_data" value="$(arg simulation_data)"/>
    	<arg name="scenario_description" value="$(arg scenario_description)"/>
   		<arg name="simulation_rate" value="100.0"/>
    	<arg name="graphics_resolution" value="1200 800"/>
    	<arg name="graphics_quality" value="medium"/>
          <arg name="robot_name" value="$(arg robot_name)"/>
    </include>

    <group ns="$(arg robot_name)">

        <!-- Robot description -->
        <param name="$(arg robot_name)/robot_description" command="$(find xacro)/xacro --inorder '$(arg xacro_file)' debug:=true robot_namespace:=$(arg robot_name)"/>

        <!-- Robot state publisher -->
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
          <remap from="robot_description" to="$(arg robot_name)/robot_description"/>
        </node>

        <!-- The joint state publisher is useful if you just want to move the actuators around -->
        <!--
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen">
          <remap from="joint_states" to="$(arg robot_name)/desired_joint_states"/>
          <remap from="$(arg robot_name)/joint_states" to="$(arg robot_name)/dummy_joint_states"/>
          <remap from="robot_description" to="$(arg robot_name)/robot_description"/>
          <param name="use_gui" value="true"/>
          <param name="publish_default_positions" value="true"/>
        </node>
        -->

        <node name="teleop" type="sam_teleop.py" pkg="sam_stonefish_sim" output="screen" if="$(arg with_teleop)"/> 

        <node name="msg_bridge" type="sam_sim_msg_bridge.py" pkg="sam_stonefish_sim" output="screen">
            <param name="robot_name" value="$(arg robot_name)"/>
        </node>

    </group>

</launch>
