<launch>

    <arg name="environment_file"/>
    <arg name="robot_file"/>
    <arg name="simulation_data" default="$(find stonefish_ros)/data"/> <!-- path to the data directory -->
    <arg name="scenario_description" default="$(find stonefish_ros)/data/scenarios/girona500_eca.scn"/> <!-- path to the scenario description -->
    <arg name="simulation_rate" default="500"/> <!-- number of simulation steps per second -->
    <arg name="graphics_resolution" default="1200 800"/> <!-- resolution of the simulation window -->
    <arg name="graphics_quality" default="medium"/> <!-- low, medium or high -->
    <arg name="robot_name" default="sam_auv"/>
    <arg name="latitude" default="43.93183"/>
    <arg name="longitude" default="15.44264"/>

    <node name="stonefish_simulator" pkg="stonefish_ros" type="parsed_simulator" output="screen" args="$(arg simulation_data) $(arg scenario_description) $(arg simulation_rate) $(arg graphics_resolution) $(arg graphics_quality)">
        <param name="robot_name" value="$(arg robot_name)"/>
        <param name="latitude" value="$(arg latitude)" type="string"/>
        <param name="longitude" value="$(arg longitude)" type="string"/>
        <param name="environment_file" value="$(arg environment_file)"/>
        <param name="robot_file" value="$(arg robot_file)"/>
    </node>
</launch>
