<launch>

    <arg name="robot_name" default="sam"/>
    <arg name="xacro_file" default="$(find sam_description)/urdf/sam_auv.urdf.xacro"/>
    <arg name="with_teleop" default="true"/>
    <arg name="simulate_dr" default="true"/>

    <!-- These are the arguments you need to care about -->
    <arg name="config" default="sam_biograd.yaml"/>
    <arg name="config_file" default="$(find sam_stonefish_sim)/config/$(arg config)"/>
    <arg name="scenario_description" default="$(find sam_stonefish_sim)/data/scenarios/default.scn"/>

    <!-- These are more for fine-tuning -->
    <arg name="simulation_data" default="$(find sam_stonefish_sim)/data"/> <!-- path to the data directory -->
    <arg name="simulation_rate" default="100"/> <!-- number of simulation steps per second -->
    <arg name="graphics_resolution" default="1200 800"/> <!-- resolution of the simulation window -->
    <arg name="graphics_quality" default="medium"/> <!-- low, medium or high -->

    <include file="$(find sam_stonefish_sim)/launch/stonefish.launch">
        <arg name="config" value="$(arg config)"/>
        <arg name="config_file" value="$(arg config_file)"/>
        <arg name="scenario_description" value="$(arg scenario_description)"/>
        <arg name="simulation_data" value="$(arg simulation_data)"/>
        <arg name="simulation_rate" value="$(arg simulation_rate)"/>
        <arg name="graphics_resolution" value="$(arg graphics_resolution)"/>
        <arg name="graphics_quality" value="$(arg graphics_quality)"/>
    </include>

    <include file="$(find sam_stonefish_sim)/launch/robot_bridge.launch">
        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="xacro_file" value="$(arg xacro_file)"/>
        <arg name="with_teleop" value="$(arg with_teleop)"/>
        <arg name="simulate_dr" value="$(arg simulate_dr)"/>
    </include>

</launch>
