<launch>

  <arg name="robot_name" default="sam_auv"/>
  <arg name="vbs_name" default="vbs"/>
  <arg name="max_volume" default="0.00031"/>
  <arg name="min_volume" default="0.00002"/>

  <group ns="sim">
      <group ns="$(arg vbs_name)">

          <node name="center_vbs" pkg="topic_tools" type="transform" args="/$(arg robot_name)/sim/$(arg vbs_name)/volume /$(arg robot_name)/sim/$(arg vbs_name)/volume_centered std_msgs/Float64 '(m.data - $(arg min_volume))/($(arg max_volume) - $(arg min_volume)) - .5' --wait-for-start" respawn="true"/>

          <node name="vbs_controller" pkg="pid" type="controller" output="screen" respawn="true">
            <param name="node_name" value="vbs_pid" />
            <param name="Kp" value="0.001" />
            <param name="Ki" value="0.0" />
            <param name="Kd" value="0.0" />
            <param name="upper_limit" value="0.5" />
            <param name="lower_limit" value="-0.5" />
            <param name="windup_limit" value="1000" />
            <param name="max_loop_frequency" value="10.0" />
            <param name="min_loop_frequency" value="1.0" />
            <remap from="setpoint" to="setpoint"/>
            <remap from="state" to="volume_centered"/>
            <remap from="control_effort" to="flow_rate"/>
          </node>

      </group>
  </group>

</launch>
